<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        				http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        				http://www.springframework.org/schema/context
        				http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<property name="location">
    		<value>classpath:bonitaConfig.properties</value>
  		</property>
	</bean>

	<bean id="bonitaConfig" class="com.BonitaAppBeans.BonitaConfig">
		<property name="serverUrl"><value>${serverUrl}</value></property>
		<property name="userAdmin"><value>${userAdmin}</value></property>
		<property name="passAdmin"><value>${passAdmin}</value></property>
		<property name="adminProfile"><value>${adminProfile}</value></property>
		<property name="defaultGroup"><value>${defaultGroup}</value></property>
		<property name="defaultRole"><value>${defaultRole}</value></property>
		<property name="liferayGroups"><value>${liferayGroups}</value></property>
	</bean>
        		
<!--        <bean id="bonitaConfig" class="com.BonitaAppBeans.BonitaConfig"> -->
<!-- 			<property name="serverUrl" value="http://server200364b:8080/bonita/"></property> -->
<!-- 	 	</bean> 		 -->
</beans>